// Allify
ALLIFY_URL=

// MongoDB
MONGO_URI=
MONGO_DB=

// Resend
ALLIFY_RESEND_KEY=

// Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=

// Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=